.buttonCart {
  position: relative;
  background-color: transparent;
  border: none;
  margin: 5px;
  .cart {
    width: 40px;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
}

.quantity {
  font-size: 12px;
  cursor: pointer;
  background-color: rgb(224, 49, 49);
  color: white;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 23%;
  left: 81%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
}
