.containerCards {
  flex-wrap: wrap;
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 30%;
  height: 20%;
  margin: 100px 0 0 24px;
  border-radius: 20px;
  color: white;
  background-color: rgba(#121533, 0.2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
