.containerNavBar {
  width: 100%;
  display: flex;
  max-height: 10%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.containerLogo {
  width: auto;
  margin: 0;
  padding-top: 5px;
  img {
    width: 30px;
    filter: brightness(0) invert(1);
  }
}
.categoryUl {
  display: none;
}

.menuMobile {
  width: 30px;
}

.containerightButtons {
  display: flex;
  gap: 10px;
}
.buttonMobile {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.menuItensMobile {
  z-index: 1;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: black;
}

.mobileList {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.categoryItem {
  a {
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  }
}

@media screen and (min-width: 768px) {
  .menuItensMobile {
    display: none;
  }
  .buttonMobile {
    display: none;
  }
  .categoryUl {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    gap: 30px;
  }

  .categoryIten {
    list-style: none;
  }

  .categoryAnchor {
    color: white;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
