/* .container-figure {
  max-width: 5rem;
}

.container-figure-img {
  width: 100%;
  height: 100%;
  margin: 0;
} */

.container-e-commerce {
  position: relative;
  height: 100svh;
  width: 100%;
  margin: 0;
  overflow-y: auto;
  background: #0f2027;
  background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
}

/* .text-title {
  color: rgb(106, 216, 216);
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
